<div class="parent">
    <div class="child">
        <form nz-form [formGroup]="questionForm" class="login-form" (ngSubmit)="submitForm()">
            <nz-form-label [nzNoColon]="'true'">Question title</nz-form-label>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input a title">
                    <input type="text" nz-input formControlName="questionText" placeholder="Question Test" />
                </nz-form-control>
            </nz-form-item>
            
            <nz-form-label [nzNoColon]="'true'">Option A</nz-form-label>
            <nz-form-item>
                <nz-form-control nzErrorTip="This input is required">
                    <input type="text" nz-input formControlName="optionA" placeholder="A" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-label [nzNoColon]="'true'">Option B</nz-form-label>
            <nz-form-item>
                <nz-form-control nzErrorTip="This input is required">
                    <input type="text" nz-input formControlName="optionB" placeholder="B" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-label [nzNoColon]="'true'">Option C</nz-form-label>
            <nz-form-item>
                <nz-form-control nzErrorTip="This input is required">
                    <input type="text" nz-input formControlName="optionC" placeholder="C" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-label [nzNoColon]="'true'">Option D</nz-form-label>
            <nz-form-item>
                <nz-form-control nzErrorTip="This input is required">
                    <input type="text" nz-input formControlName="correctOption" placeholder="Correct Option" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-label [nzNoColon]="'true'">Correct option</nz-form-label>
            <nz-form-item>
                <nz-form-control nzErrorTip="This input is required">
                    <input type="text" nz-input formControlName="optionD" placeholder="D" />
                </nz-form-control>
            </nz-form-item>

            <div style="padding-bottom: 30px;">
                <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="questionForm.invalid">Submit</button>
            </div>
            
        </form>
    </div>
</div>